couch_host =
couch_port =
couch_vhost =
user_agent =
couch_user = 
couch_pass = 
cache_backend = 
cache_host =
cache_port = 
db_engine =
db_name = 
db_user =
db_pass =
db_host =
db_port =
secret_key =
broker_host =
broker_port =
broker_user =
broker_pass =
broker_vhost =
code_dir =
whoosh_path =
lock_attempts =
user =
password =
vagrant_path =
myroles =
enviro = 